@model IEnumerable<MemeWebApplication.Models.Template>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"> Index Temp for User</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmName)
                </td>
                <td>
                    <img src="~/uploads/@Html.DisplayFor(modelItem => item.Image)"
                         class="thumbnail"
                         style="width:200px;height:200px;" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                    <a asp-action="CreatePhrase" asp-route-id="@item.ID">Create Phrase</a> |
                    <a asp-action="CreateActor" asp-route-id="@item.ID">Create Actor</a>

                </td>
            </tr>
        }
    </tbody>
</table>
